<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Teste node</title>
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script type="text/javascript"
      src="http://qi.edu.br/js/jquery.cookie.js">
    </script>
    <style media="screen">
      #chatcontent{
        width: 50%;
        margin-left: 25%;
        background-color: #009688;
      }
      #mensagens{
        background-color: #F5F5F5;
        height: 500px;
        overflow-y: auto;
      }
      #barraenvio{
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
      }
      #benloko{
        width:80%;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,0.3);
        padding: 4px;
        margin-left: 1%;
      }
      #enviar{
        width: 15%;
        padding: 5px;
        font-size: 1em;
        border-radius: 5px;
        background-color: white;
      }
      #logar{
        display: inline-block;
      }
      #logar form{
        height: 250px;
        padding-top: 25px;
        width: 300px;
        background-color: #009688;
      }
      #logar_content{
        padding-top: 20%;
        text-align: center;
      }
    </style>
    <script type="text/javascript">
      toggleCadastro = function(){
        $('#cadastrar').toggle(50);
        $('#formlogar').toggle(50);
      };
    </script>
  </head>
  <body>
    <div id ="logar_content">
      <div id="logar">
        <form action="javascript: entrar();" id="formlogar">
          <label>
            <p>Login</p>
            <input type="text" id="login">
          </label>
          <label>
            <p>Senha</p>
            <input type="password" id="senha">
          </label>
          <label>
            <p>Sem conta? <a href="javascript: toggleCadastro();">cadastrar</a></p>
            <button type="submit">Logar</button>
          </label>
        </form>
        <form action="javascript: cadastrar();" id="cadastrar" style="display: none;">
          <label>
            <p>Login</p>
            <input type="text" id="cadlogin">
          </label>
          <label>
            <p>Senha</p>
            <input type="password" id="cadsenha">
          </label>
          <label>
            <p>Sem conta? <a href="javascript: toggleCadastro();">logar</a></p>
            <button type="submit">Cadastrar</button>
          </label>
        </form>
      </div>
    </div>
    <div id="chatcontent" style="display: none">
      <div id="mensagens">

      </div>
      <form action="javascript: enviarMensagem()" id="barraenvio">
        <input type="text" id="benloko" autocomplete="off">
        <button id="enviar">enviar</button>
        <a href="javascript: sair();">Sair</a>
      </form>
    </div>
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script type="text/javascript">
      var socket = io();
      sala = "teste";
      enviarMensagem = function(){
        socket.emit(sala,
          JSON.stringify({
            usuario: USUARIO,
            msg: $('#benloko').val()
          })
        );
        $('#benloko').val('');
        return;
      }

      sair = function(){
        $.removeCookie('AUTH');
        $.removeCookie('USUARIO');
        $('#chatcontent').css({'display': 'none'});
        $('#logar').show(500);
        socket.emit('saiu',USUARIO);
      }

      $(document).ready(function(){
        if($.cookie('AUTH')){
          socket.emit('reload',JSON.stringify({
            usuario: $.cookie('USUARIO'),
            auth: $.cookie('AUTH')
          }));
          socket.on('reload_'+$.cookie('USUARIO'),function(msg){
            USUARIO = $.cookie('USUARIO');
            AUTH = $.cookie('AUTH');
            $('#logar_content').css({'display': 'none'});
            $('#chatcontent').show(500);
          });
          socket.on('erro_reload_'+$.cookie('USUARIO'),function(msg){
            $.removeCookie('USUARIO');
            $.removeCookie('AUTH');
          });
          socket.on('disconnect',function(msg){
            socket.emit('sysmsg',USUARIO+" atualizou página");
          });
          socket.on("teste",function(msg){
            console.log(msg);
            $('#mensagens').append("<p>"+msg+"</p>");
            $('#mensagens').scrollTop($("#mensagens")[0].scrollHeight);
          });
        }
      });

      entrar = function(){
        console.log('teste');
        sala = "teste";
        socket.emit('logar',
          JSON.stringify({
            login: $('#login').val(),
            senha: $('#senha').val()
          })
        );
        USUARIO = $('#login').val();
        $.cookie('USUARIO',USUARIO);
        socket.on('logou',function(msg){
          console.log(msg);
          $('#mensagens').append("<p>"+msg+"</p>");
        });
        socket.on('logou_erro_'+USUARIO,function(msg){
          alert(msg);
        });
        socket.on(USUARIO,function(auth){
          AUTH = auth;
          $.cookie('AUTH',auth);
          $.cookie('USUARIO',USUARIO);
          $('#logar_content').css({'display': 'none'});
          $('#chatcontent').show(500);
        });
        socket.on("teste",function(msg){
          console.log(msg);
          $('#mensagens').append("<p>"+msg+"</p>");
          $('#mensagens').scrollTop($("#mensagens")[0].scrollHeight);
        });
        socket.on('disconnect',function(msg){
          socket.emit('sysmsg',USUARIO+" saiu");
        });
      };

      cadastrar = function(){
        console.log("teste");
        socket.emit('cadastrar',JSON.stringify({
          usuario: $('#cadlogin').val(),
          senha: $('#cadsenha').val()
        }));
        socket.on('cadastrar_'+$('#cadlogin').val(),function(msg){
          toggleCadastro();
          alert("cadastrado, logue");
          $('#cadlogin').val('');
          $("#cadsenha").val('');
        });
        socket.on('erro_cadastrar_'+$('#cadlogin').val(),function(msg){
          alert(msg);
        });
      };

      window.onbeforeunload = confirmExit;
      function confirmExit() {
        console.log('saindo');
        socket.emit('disconnect',USUARIO);
      }
    </script>
  </body>
</html>
